:root {
  --border-radius: 3px;
}

.card {
  display: block;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: var(--border-radius);
  text-decoration: none;
  color: inherit;
  position: relative;
}

.card:hover .overlay {
  opacity: 1;
}

.photo {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  aspect-ratio: 1;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
}

.text {
  padding: 0.8em 1em;
  width: 100%;
  text-align: center;
}

.title {
  text-transform: capitalize;
  padding-bottom: 0.25em;
}

.subtitle {
  font-size: 0.8em;
  opacity: 0.5;
  font-style: italic;
}

.time {
  font-size: 0.6em;
  margin-top: 1em;
  opacity: 0.4;
  text-transform: capitalize;
}
